   
   .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fun {
    width: 50%;
    font-size: 60px;
    border: 1px solid;
    
    flex-wrap: wrap;

}
.pd-20{
    padding:20px;
}
.disabled {
    pointer-events: none;
}
    
